@font-face {
  font-family: 'font1';
  src: local('Playfair Display');
}

@font-face {
  font-family: 'font2';
  src: local('Ubuntu Light');
}


body {
  margin-top: 1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.introduction-title {
  margin: 0 165px 0 150px;
}

.introduction-title p {
  font-size: 14px;
  display: inline-block;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Ubuntu Light';
}

.introduction-title h1 {
  font-size: 30px;
  height: 65px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Playfair Display';
}

.introduction-sentence1 {
  margin: 0 165px 0 150px;
}

.introduction-sentence1 p {
  font-size: 14px;
  font-family: 'Playfair Display';
  margin-top: 0;
  margin-bottom: 0;
}

.introduction-sentence2 {
  margin: 0 150px 0 150px;
}

.introduction-sentence2 p {
  font-size: 14px;
  font-family: 'Playfair Display';
  margin-top: 0;
  margin-bottom: 0;
}

.introduction-comment h3{
  font-family: 'Playfair Display';
  font-size: 14px;
  margin: 48px 165px 0 150px;
}


