@font-face {
  font-family: 'font1';
  src: local('Playfair Display');
}

@font-face {
  font-family: 'font2';
  src: local('Ubuntu Light');
}

body {
  margin-top: 1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.introduction-title {
  margin: 0 165px 0 150px;
}

.introduction-title p {
  font-size: 14px;
  display: inline-block;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Ubuntu Light';
}

.introduction-title h1 {
  font-size: 30px;
  height: 65px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Playfair Display';
}

.introduction-sentence1 {
  margin: 0 165px 0 150px;
}

.introduction-sentence1 p {
  font-size: 14px;
  font-family: 'Playfair Display';
  margin-top: 0;
  margin-bottom: 0;
}

.introduction-sentence2 {
  margin: 0 150px 0 150px;
}

.introduction-sentence2 p {
  font-size: 14px;
  font-family: 'Playfair Display';
  margin-top: 0;
  margin-bottom: 0;
}

.introduction-comment h3 {
  font-family: 'Playfair Display';
  font-size: 14px;
  margin: 48px 165px 0 150px;
}

.content-row-1 {
  display: flex;
  margin: 124px 148px 0 115px;
}

.content-left-1 img {
  padding: 0 31px 0 35px;
}

.content-left-1 :nth-child(2) {
  margin-top: 31px;
  font-size: 14px;
  font-family: 'Ubuntu Light';
  margin-left: 35px;
}

.content-left-1 h3 {
  margin-top: 15px;
  height: 65px;
  font-size: 30px;
  font-family: 'Playfair Display';
  margin-left: 35px;
}

.content-left-1 :nth-child(4) {
  font-family: 'Playfair Display';
  font-size: 14px;
  margin-left: 35px;
  width: 420px;
}

.content-right-1 {
  margin: 0 3px 0 40px;
}

.content-right-1 :nth-child(2) {
  margin-top: 33px;
  margin-left: 1px;
  font-size: 14px;
  font-family: 'Ubuntu Light';
}

.content-right-1 h3 {
  margin-top: 13px;
  height: 65px;
  font-size: 30px;
  font-family: 'Playfair Display';
}

.content-right-1 :nth-child(4) {
  font-family: 'Playfair Display';
  font-size: 14px;
  width: 420px;
}

.content-row-2 {
  display: flex;
  margin: 71px 150px 0 143px;
}

.content-left-2 img {
  padding: 0 60px 0 7px;
  margin-top: 34px;
}

.content-left-2 :nth-child(2) {
  margin-top: 30px;
  font-size: 14px;
  font-family: 'Ubuntu Light';
  margin-left: 7px;
}

.content-left-2 h3 {
  margin-top: 19px;
  height: 65px;
  font-size: 30px;
  font-family: 'Playfair Display';
  margin-left: 7px;
}

.content-left-2 :nth-child(4) {
  font-family: 'Playfair Display';
  font-size: 14px;
  margin-left: 7px;
  width: 420px;
}

.content-right-2 {
  margin-top: 41px;
}

.content-right-2 :nth-child(2) {
  margin-top: 24px;
  font-size: 14px;
  font-family: 'Ubuntu Light';
}

.content-right-2 h3 {
  margin-top: 11px;
  height: 65px;
  font-size: 30px;
  font-family: 'Playfair Display';
}

.content-right-2 :nth-child(4) {
  font-family: 'Playfair Display';
  font-size: 14px;
  width: 420px;
}

