@font-face {
  font-family: Playfair Display, Inconsolata, Ubuntu;
  src: local('Playfair Display', serif);
  src: local('Inconsolata');
  src: local('Ubuntu light');
}

body {
  margin-top: 1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  margin: 0 68px 0 70px;
  display: flex;
  flex-wrap: wrap;
}

.header .header-left img {
  margin: 69px 109px 0 0;
  display: inline-block;
}

.header .header-right {
  font-family: Playfair Display;
  font-size: 14pt;
  display: flex;
}

.header-right :first-child {
  margin: 75px 0 48px 241px;
  width: 113px;
  height: 42px;
  display: inline-block;
  text-align: center;
}

.header-right :nth-child(2) {
  margin: 75px 0 0 87px;
  width: 113px;
  height: 42px;
  display: inline-block;
  text-align: center;
}

.header-right :nth-child(3) {
  margin: 75px 0 0 56px;
  width: 113px;
  height: 42px;
  display: inline-block;
  text-align: center;
}

.header-right :nth-child(4) {
  margin: 75px 0 0 28px;
  width: 83px;
  height: 42px;
  display: inline-block;
  text-align: center;
}